body {
    background-color: #FFFFFF;
    
}

.esquinas{
         box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset 2px 2px 3px rgba(0,0,0,.1), 2px 2px 3px rgba(0,0,0,.1);
         -moz-border-radius:4px;
         -webkit-border-radius:4px;
         -o-border-radius:4px;
         -ms-border-radius:4px; 
}

.boton1 {
          color: #FFFFFF !important;
          font-size: 1.3em;
          max-width: 4em;
          max-height: 1.2em;
          font-weight: 500;
          font-family: 'Arial Rounded MT';
          padding: 0.2em 0.4em;
          text-align: center;
          background: #FF9800; 
          border: 2px solid;
          border-color: #f4b4cd;
          position: relative;
          box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset 2px 2px 3px rgba(0,0,0,.1), 2px 2px 3px rgba(0,0,0,.1);
          -moz-border-radius:8px;
          -webkit-border-radius:8px; 
          -o-border-radius:8px;
          -ms-border-radius:8px;
        }
    .boton1:hover{
        background-color: #4DB6AC;
        color: #ffffff;
        box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset 2px 2px 3px rgba(0,0,0,.1), 2px 2px 3px rgba(0,0,0,.1);
    }