thead,
th,
tbody th {

    position        : sticky;
    top             : 0;
    background-color: white;
    border-radius   : 5px;
}

.frxxs {
    font-family: Verdana, Geneva, Bitstream Vera Sans, Tahoma, sans-serif;
    color      : #000000;
    font-size  : 7px;
    direction  : ltr;
}

.frxs {
    font-family     : Verdana, Geneva, Bitstream Vera Sans, Tahoma, sans-serif;
    color           : #000000;
    font-size       : 9px;
    direction       : ltr;
    background-color: white;
}

.frs.tbl2 {
    background-color: white;
    box-shadow      : 5px 5px 5px black;
}

.frs {
    font-family     : Verdana, Geneva, Bitstream Vera Sans, Tahoma, sans-serif;
    color           : #000000;
    font-size       : 10px;
    direction       : ltr;
    text-align      : center;
    width           : 60%;
    height          : 100%;
    border          : 0px;
    background-color: #ffffff;
}

.frl {
    font-family: Verdana, Geneva, Bitstream Vera Sans, Tahoma, sans-serif;
    color      : #000000;
    font-size  : 10px;
    direction  : ltr;
}

.tblformulario {
    background-color: white;
    color           : white;
    box-shadow      : 5px 5px 5px rgb(27, 24, 24);
    height          : 20%;
    width           : 100%;
    margin          : 3px;
    display         : none;
}

hr {
    height          : 2px;
    background-color: black;
    width           : 100%;
    color           : black;
}

.check {
    text-align: left;
    color     : white;
    font-size : 15px;
    font-style: bold;
}

input[type="text"] {
    padding              : 5px;
    border               : 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius        : 5px;
    width                : 10px;
}

input[type="text"]:focus {
    border-color: #333;
}

input[type="submit"],
input[type="button"] {
    padding              : 5px 15px;
    background           : #ccc;
    border               : 0 none;
    cursor               : pointer;
    -webkit-border-radius: 5px;
    border-radius        : 15px;
    background-color     : darkorange;
    width                : 38%;
    font-size            : 13px;
    text-align           : center;
}

.td-data {
    background-color: white;
    width           : 75%;
    color           : black;
}

@page {
    size  : letter portrait;
    margin: 0;
}

header,
footer,
nav,
aside {
    display: none;
}

.nover {
    display: none;
}


/* seccion para el css de antenacsss */

div,
iframe,
img,
li,
object,
p,
ul,
input {
    margin            : 0;
    padding           : 0;
    box-sizing        : border-box;
    -moz-box-sizing   : border-box;
    -webkit-box-sizing: border-box;
}

ul {
    padding: 0 0 0 1em;
    margin : 0 0 0 20px;
}

img {
    border-width: 0;
}

blockquote {
    margin: 0 0 0 20px;
}

@font-face {
    font-family: "gatos";
    src        : url("_font_gatos.ttf");
}

@font-face {
    font-family: "barras";
    src        : url("_font_barras.ttf");
}


/* @media: print{
       .nover {display:none}
   }
   @media: screen{
       .noverp {display:none}
   }
    */

input {
    border-radius: 6px;
    padding-left : 3px;
    height       : 25px;
}

textarea {
    border-radius: 6px;
    padding-left : 3px;
}

div {
    border-radius: 9px;
    text-align   : center;
}


/* table {
    border-radius: 10px;
    padding-left: 2px;
     padding-right: 5px; 
    padding-top: 5px;
    padding-bottom: 2px;
    width: 80% !important;
    /* box-shadow      : 5px 5px 5px rgb(27, 24, 24); */


/* display: block;
    overflow-x: auto;
    overflow-y: auto; 
} */

.global,
h1,
h3,
h4 {
    background-color: #e0e0e0;
    font-family     : Verdana, Geneva, Bitstream Vera Sans, Tahoma, sans-serif;
    color           : #000000;
    font-size       : 11px;
    text-align      : left;
    direction       : ltr;
    margin-left     : 2px;
    justify-content : center;
    justify-items   : center;
    justify-self    : center;
    text-justify    : center;
}

h6 {
    text-align: right;
}

.global a:link {
    color          : #0000ff;
    text-decoration: underline;
}

.global a:visited {
    color          : #800080;
    text-decoration: underline;
}

.global ul,
ol {
    list-style-type: disc;
}

.frxxs {
    font-family: Verdana, Geneva, Bitstream Vera Sans, Tahoma, sans-serif;
    color      : #000000;
    font-size  : 7px;
    direction  : ltr;
}

.frl {
    font-family: Verdana, Geneva, Bitstream Vera Sans, Tahoma, sans-serif;
    color      : #000000;
    font-size  : 13px;
    direction  : ltr;
}

.mnu {
    overflow        : hidden;
    background-color: #f8f8f8;
    padding         : 2px;
    line-height     : 1.5em;
    cursor          : pointer;
}

.mnu a {
    display: block;
    cursor : pointer;
    width  : 100%;
    padding: 0 2px 0 1px;
    margin : 0;
}

.mnu a:link {
    color          : #ffffff;
    text-decoration: none;
}

.mnu a:visited {
    color          : #ffffff;
    text-decoration: none;
}

.mnu a:hover {
    color           : #000000;
    text-decoration : none;
    background-color: #f0f0f0;
}

.mnu a:active {
    color           : #000000;
    text-decoration : none;
    background-color: #eaeaea;
}

.fil {
    position: absolute;
    left    : 0;
    top     : 0;
    width   : 100%;
    height  : 100%;
}

.ptr {
    cursor: pointer;
}

.opr {
    filter: alpha(opacity=100);
}

.trn {
    opacity: 0;
    filter : alpha(opacity=0);
}

.smf {
    -ms-interpolation-mode: bicubic;
}

.sol {
    background-color: blue;
}

.bmk {
    border-style: dashed;
    border-width: 0 0 1px 0;
}

.ctr {
    position    : relative;
    margin-left : auto;
    margin-right: auto;
    text-align  : left;
}

.ctt {
    text-align: center;
}

.abs {
    position: absolute;
}

.aut {
    overflow: auto;
}


/*-webkit-overflow-scrolling: touch; */

.hid {
    overflow: hidden;
}

.scr {
    overflow: scroll;
}

.vis {
    overflow: visible;
}

.inv {
    visibility: hidden;
}

.bgremove {
    background-image: none;
}

.up {
    text-transform: uppercase;
}

.hd1,
h1 {
    font-family: Times New Roman, Times, serif;
    font-style : italic;
    font-size  : 18px;
    text-align : center;
}

.hd2 {
    font-family: Times New Roman, Times, serif;
    font-style : italic;
    font-size  : 15px;
    text-align : center;
}

.hd3,
h3 {
    font-weight: bold;
}

.mnus {
    padding         : 0px;
    border-width    : 2px;
    border-style    : outset;
    background-color: #009999;
    text-align      : center;
}

.mnus a:hover {
    color           : #ffffff;
    background-color: #000080;
}

.mnus a:active {
    color           : #ffffff;
    background-color: #0000cc;
}

.pnl {
    border-width    : 1px;
    border-style    : solid;
    border-color    : #8dc7eb;
    background-color: #cee5f2;
}


/* .loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../images/logopeq.jpg') 50% 50% no-repeat rgb(249, 249, 249);
    opacity: .8;
    text-align: center;
    text-decoration: blink;
    color: #000000;
    font-size: 26px;
} */

.loader {
    width              : 120px;
    height             : 120px;
    /* background-color: grey; */
    background-color   : transparent;
    border             : 30px solid #f3f3f3;
    margin             : 10% auto;
    border-left        : 30px solid #ff5d00;
    border-radius      : 50%;
    animation          : spinIT 0.8s linear infinite;
    filter             : drop-shadow(0px 0px 8px gray);
    position           : fixed;
    left               : 50%;
}

@keyframes spinIT {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.lineas_prop {
    text-align: center;
    font-size : 13px;
}


/* inicio scrpt para responsive */

.pend {
    height          : 10px;
    width           : 20px;
    background-color: red;
    content         : "Pend";
}

.nopend {
    height          : 10px;
    width           : 20px;
    background-color: lime;
}

#map {
    height: 100%;
}

.icon {
    height: 80px;
    width : 80px;
}

.container {
    width       : 100%;
    margin      : 0px auto;
    font-size   : 1.5em;
    margin      : -5px;
    text-align  : left;
    padding-left: 5%;
}

.titulo {
    border-bottom-style: groove;
    border-bottom-color: #4a821d;
    font-size          : 2em;
}

.frr {
    font-family: Verdana, Geneva, Bitstream Vera Sans, Tahoma, sans-serif;
    font-size  : 11px;
    max-width  : 90%;
}

.section33,
.section23,
section,
aside {
    padding              : 10px;
    padding-top          : 5px;
    background-color     : White;
    -moz-border-radius   : 10px;
    -webkit-border-radius: 10px;
    -o-border-radius     : 10px;
    border-radius        : 10px;
    border-style         : groove;
    border-color         : #337ab7;
}

section {
    float      : left;
    width      : 28%;
    height     : 80%;
    margin-left: 2%;
    margin-top : 2%;
    opacity    : 0.9;
    overflow   : auto;
}

.section33 {
    float      : left;
    width      : 92%;
    height     : 38%;
    margin-left: 2%;
    margin-top : 2%;
    opacity    : 0.9;
    overflow   : auto;
}

.section23 {
    float      : left;
    width      : 60%;
    height     : 80%;
    margin-left: 2%;
    margin-top : 2%;
    opacity    : 1;
    overflow   : auto;
}

aside {
    float: right;
    width: 25%;
}

nav {
    overflow   : hidden;
    margin-left: 31%;
}

nav ul {
    list-style-type: none;
    float          : left;
    padding        : 0px;
}

nav ul li {
    float                : left;
    padding              : 3px 10px;
    margin               : 2px;
    background           : #4a821d;
    -moz-border-radius   : 5px;
    -webkit-border-radius: 5px;
    -o-border-radius     : 5px;
    border-radius        : 5px;
}

footer {
    margin    : 5px;
    text-align: center;
    clear     : both;
}


/* para 980px o menos */

@media screen and (max-width: 980px) {
    #map {
        height: 75%;
    }

    .container {
        width: 98%;
    }

    #map img[src*="Aptitud"] {
        opacity: 0.5;
    }

    .titulo {
        border-bottom-style: groove;
        border-bottom-color: #4a821d;
        font-size          : 4em;
    }

    .frr {
        font-family: Verdana, Geneva, Bitstream Vera Sans, Tahoma, sans-serif;
        font-size  : 25px;
        max-width  : 90%;
    }

    section {
        margin-left: 2%;
        margin-top : 2%;
        width      : 90%;
        height     : auto;
        overflow   : auto;
    }

    .section33,
    .section23 {
        margin-left: 2%;
        margin-top : 2%;
        width      : 90%;
        height     : auto;
        overflow   : auto;
    }

    .icon {
        height: 160px;
        width : 160px;
    }
}


/* para 70px o menos */

@media screen and (max-width: 900px) {

    aside,
    section33,
    section23,
    section {
        float   : none;
        width   : 90%;
        height  : auto;
        overflow: auto;
    }

    nav,
    section,
    section23,
    section33 {
        font-size: 1.5em;
    }

    aside {
        margin-top: 5px;
    }

    nav ul {
        float: none;
        clear: both;
    }

    .icon {
        height: 160px;
        width : 160px;
    }
}


/* para 40px o menos */

@media screen and (max-width: 690px) {
    aside {
        display: none;
    }

    section,
    section23 {
        width     : 90%;
        margin-top: 2%;
        height    : auto;
        overflow  : auto;
    }

    nav ul {
        float: left;
        clear: none;
        width: 94%;
    }

    nav ul li {
        float: none;
    }

    .icon {
        height: 160px;
        width : 160px;
    }
}

.div1 {
    background-color: #800080;
}

.td1 {
    border: 5px solid white;
}


/* para 980px o menos */


/* 
===============================
===============================
===============================
===============================
===============================
===============================
===============================

DESDE ACA COMIENZAN LOS ESTILOS
*/

.th_head {
    background-color: white;
    text-align      : center;
    width           : 90%;
    height          : 10%;
    border-radius   : 0px;
}

.td_izq {
    /* background-color: gray; */
    background-color: white;
    height          : 50%;
    width           : 100%;
    text-align      : center;
    justify-content : center;
    border-radius   : 0px;
    font-size       : 1.5em;
}

.td_der {
    background-color   : white;
    height             : 75%;
    width              : 90%;
    background-color   : lightgray;
    text-align         : left;
    /* background-color: #378c3a; */
}

.formularioUno {
    height             : 150%;
    width              : 200px;
    /* background-color:#378c3a; */
    background-color   : lightgray;
    color              : gray;
    border-radius      : 20px;
    font-style         : normal;
    padding-left       : 10px;
}

.radios {
    color    : #000000;
    font-size: 15px;
    z-index  : 90;
}

.boton_form {
    text-align   : left;
    width        : 120%;
    /* width     : 100px; */
    margin-bottom: 10px;
}

.frm {
    font-family : Verdana, Geneva, Bitstream Vera Sans, Tahoma, sans-serif;
    color       : #000000;
    font-size   : 12px;
    /* direction: ltr; */
}

.frm:hover {
    border-radius: 2px solid #0fdfdf;
}

.frm:focus {
    border-radius: 2px solid #0fdfdf;
}

.campo {
    border-radius: 10px;
    width        : 90%;
    height       : 30px;
    /* text-align: center; */
}

.campo:hover {
    border-radius: 10px;
    width        : 90%;
    height       : 30px;
    border-radius: 2px solid #0fdfdf;
    /* text-align: center; */
}

.div_rangos {
    text-align : left;
    margin-left: 0%;
}

.tabla-info {
    background-color: white;
    width           : 100%;
    height          : 40%;
    box-shadow      : 5px 5px 5px rgb(27, 24, 24);
    font-size       : 10vw;
}

.verde {
    border-color    : green solid 5px;
    font-size       : 10vw;
    background-color: green;
}

.naranaja {
    border-color: orange solid 5px;
    font-size   : 10vw;
}

.rojo {
    border-color: red solid 5px;
    font-size   : 10vw;
}

.blanco {
    background-color: white;
    font-size       : 10vw;
}

.gray {
    border-color    : yellowgreen solid 5px;
    background-color: red;
    font-size       : 3vw;
}

.tbl_cabcera {
    text-align: center;
    width     : 100%;
    height    : 20%;
}

.tbl_fac_lab {
    background-color: white;
    width           : 200px;
    height          : 100%;
    border          : 1px solid #000000;
    text-align      : center;
    border-collapse : separate;
    color           : black;
    font-size       : 10vw;
}

.td.border {
    border          : #000000 5px solid;
    background-color: darkgrey;
    color           : white;
    font-size       : 10vw;
}

.tr_cuerpo {
    font-size  : 10vw;
    color      : black;
    font-family: "Courier New", Courier, monospace;
    text-align : center;
}

.subtotal {
    background-color: red;
    color           : gray;
    font-size       : 10px;
    height          : 10px;
    width           : 100%;
}

.tdata {
    border         : 1px solid gray;
    color          : #000000;
    border-radius  : 1px;
    text-align     : center;
    justify-content: center;
    border-radius  : 5px;
}

.tdata_cab {
    background-color: white;
    width           : 350px;
    height          : 60px;
    border-radius   : 5px;
    font-size       : 15px;
}

.tbl_faclab_1 {
    width        : 100%;
    height       : 10%;
    border-radius: 5px;
    text-align   : center;
}

.tbl_faclab {
    font-size       : 10px;
    background-color: white;
    width           : 100%;
    height          : 10%;
}

.table_2 {
    text-align      : center;
    width           : 100%;
    height          : 50%;
    background-color: white;
    padding-left    : 25%;
    padding-top     : 5px;
    padding-bottom  : 5px;
    padding-right   : 35%;
    color           : white;
}

.msjpruebas {
    background-color: #000080;
    color           : white;
    width           : 100%;
}

#tbl_3 {
    text-align: center;
    width     : 90% !important;
    height    : 50%;
}

.ventaskilos {
    font-size: 15px;
}

.tbl_3 {
    background-color: white;
    color           : black;
    font-size       : 10px;
    width           : 100% !important;
    height          : 90%;
}

.td_tbl_3 {
    background-color: white;
    /* color        : #000000; */
    /* font-size    : 10px; */
    border-radius   : 5px;
}

.ocultar {
    display: none;
}

td,
th {
    text-align   : center;
    border-radius: 15px;
    width        : 100px;
    height       : 10px;
}

option {
    border-radius: 5px;
}

option,
select:hover {
    border-radius: 5px;
    border       : #337ab7 2px solid;
    cursor       : pointer;
}

tfoot {
    font-size       : 15px;
    color           : black;
    font-weight     : bold;
    font-style      : normal;
    background-color: rgb(214, 214, 214);
}

.select2-selection__rendered,
.select2-container.select2-selection--single,
.select2-selection__arrow {
    display: none;
}

.ventas_kilos {
    width           : 100%;
    height          : 12px;
    font-size       : 13px;
    background-color: red;
}

body {
    width: 80%;
}

form {
    background-color: red;
}

.div_tbl_1 {
    overflow-y: auto;
    /* height : 450px; */
    height    : 50%;
    width     : 100%;
}

@media print {
    #formularioUno {
        display: none;
    }

    #td_izq,
    #div_tbl_1 {
        height: 100%;
        width : 70%;
    }

    #div_tbl_2 {
        height: 100%;
        width : 100%;
    }

    #div_tbl_3 {
        height: 100%;
        width : 70%;
    }

    #div_tbl_4 {
        height: 100%;
        width : 100%;
    }
}