.check {
    width:18px;
    height:18px;
}
.ventana {
    background-color: whitesmoke;
    width: 20%;
    padding: 5px;
}
.e1 {
    font-family: tahoma;
    font-size: 1.2em;
}
.texto1 {
    width: 100px;
}
.boton1 {
    background-color: greenyellow;
    font-family: Tahoma;
    font-weight: bold;
}